#main-table {
    font-family: 'Trebuchet MS', Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

#main-table td,
#main-table th {
    border: 1px solid #ddd;
    padding: 8px;
}

#main-table tr:nth-child(even) {
    background-color: #f2f2f2;
}

#main-table tbody tr:hover {
    background-color: #ddd;
}

#main-table thead {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #4caf50;
    color: white;
    user-select: none;
}
