@import '../../node_modules/bulma/css/bulma.css';
@import '../../node_modules/rc-dropdown//assets/index.css';
@import '../../node_modules/rc-calendar/assets/index.css';

.mnr-table table {
    width: 100%;
}
.mnr-table th {
    user-select: none;
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
}
.mnr-table-cell > div {
    display: flex;
    justify-content: space-between;
}
.mnr-table-cell .th-filter > button {
    border: none;
    outline: none;
    background: transparent;
}
.mnr-table-cell .th-title {
    width: 100%;
    cursor: pointer;
}
.mnr-table-cell .th-sort {
    display: inline-flex;
    flex-direction: column;
    margin-left: 5px;
}
.mnr-table-cell .th-sort > span {
    height: 3px;
}
.mnr-table-cell .th-sort > span > svg {
    color: #bfbfbf;
}
.mnr-table-cell .sorting-asc > span:first-child > svg,
.mnr-table-cell .sorting-desc > span:last-child > svg {
    color: #1890ff;
}
span.icon {
    cursor: pointer;
}
span.icon > svg {
    width: 12px;
    height: 12px;
}
.dropdown-portal > .dropdown-menu {
    min-width: max-content;
    left: unset;
}
.dropdown-menu > .dropdown-content {
    padding: 0.5em;
}
.dropdown-content > .is-grouped {
    justify-content: flex-end;
}
