@font-face {
    font-family: 'Lucida sans';
    src: url('/lucida-sans-regular.ttf');
}

@font-face {
    font-family: 'trebuchet MS';
    src: url('/trebuc.ttf');
}

#fontFamily {
    font-family: 'Lucida sans', 'trebuchet MS', arial;
}

#border() {
    bordernone: 0px;
    borderdefault: 1px solid #ccc;
}

#overflow() {
    scroll: scroll;
    hidden: hidden;
    auto: auto;
    visible: visible;
}

#position() {
    relative: relative;
    absolute: absolute;
}

#color() {
    colorbackopacity: rgba(0, 0, 0, 0.54);
    colorback: #000;
    primary: #007bff;
    secondary: #6c757d;
    success: #28a745;
    danger: #dc3545;
    warning: #ffc107;
    dark: #343a40;
    default: #ccc;
    magenta: #eb2f96;
    red: #f5222d;
    volcano: #fa541c;
    orange: #fa8c16;
    gold: #faad14;
    lime: #a0d911;
    green: #52c41a;
    cyan: #13c2c2;
    blue: #1890ff;
    geekblue: #1890ff;
    purple: #722ed1;
    grey: #a0a0a0;
}

#background() {
    magenta: #fff0f6;
    red: #fff1f0;
    volcano: #fff2e8;
    orange: #fff7e6;
    gold: #fffbe6;
    lime: #fcffe6;
    green: #f6ffed;
    cyan: #e6fffb;
    blue: #e6f7ff;
    geekblue: #f0f5ff;
    purple: #f9f0ff;
    grey: #f3f3f3;
}

#border() {
    magenta: #ffadd2;
    red: #ffa39e;
    volcano: #ffbb96;
    orange: #ffd591;
    gold: #ffe58f;
    lime: #eaff8f;
    green: #b7eb8f;
    cyan: #87e8de;
    blue: #91d5ff;
    geekblue: #adc6ff;
    purple: #d3adf7;
    grey: #d0d0d0;
}

#backgroundColor() {
    success: #cfffd9;
    danger: #ffd2d6;
    secondary: #e6e6e6;
}

#button-status {
    position: relative;
    height: 19px;
    text-align: center;
    width: 60px;
    font-size: 13px;
    background-color: transparent;
    background-image: none;
    border: 0px;
    text-transform: capitalize;
    margin-right: 10px;
    &:last-child {
        margin-right: 0;
    }
}
